django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
psycopg2-binary
requests
numpy
spacy
chromadb
pypdf
python-docx
openpyxl
pandas
gunicorn==26.2.0
whitenoise==6.12.0
python-dotenv
dj-database-url
